
<div class="col-md-12">
  <h4>Adicionar Carro ao usuário</h4>
  <div>
    <form name="car" (ngSubmit)="f.form.valid && saveCar()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="year">Ano do Carro</label>
        <input type="text" class="form-control" name="year" [(ngModel)]="car.year" required
          #year="ngModel" [ngClass]="{ 'is-invalid': f.submitted && year.errors }" />
      </div>
      <div *ngIf="year.errors && f.submitted" class="invalid-feedback d-block">
        Ano do Carro é obrigatório!
      </div>
      <div class="form-group">
        <label for="licensePlate">Placa do Carro</label>
        <input type="text" class="form-control" name="licensePlate" [(ngModel)]="car.licensePlate" required #licensePlate="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && licensePlate.errors }" />
      </div>
      <div *ngIf="licensePlate.errors && f.submitted" class="invalid-feedback d-block">
        Placa do Carro é obrigatório!
      </div>
      <div class="form-group">
        <label for="model">Modelo do Carro</label>
        <input type="text" class="form-control" name="model" [(ngModel)]="car.model" required #model="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && model.errors }" />
      </div>
      <div *ngIf="model.errors && f.submitted" class="invalid-feedback d-block">
        Modelo do Carro é obrigatório!
      </div>
      <div class="form-group">
        <label for="color">Cor do Carro</label>
        <input type="text" class="form-control" name="color" [(ngModel)]="car.color" required
          #color="ngModel" [ngClass]="{ 'is-invalid': f.submitted && color.errors }" />
      </div>
      <div *ngIf="color.errors && f.submitted" class="invalid-feedback d-block">
        Cor do Carro é obrigatória!
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Enviar</button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isCreateFailed" class="alert alert-danger" role="alert">
          Cadastro falhou: {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && !isCreateFailed" class="alert alert-success" role="alert">
          Cadastro efetuado com sucesso!
        </div>
      </div>
    </form>
</div>