<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="firstName">Primeiro Nome</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            required
            [(ngModel)]="user.firstName"
            name="firstName"
          />
        </div>
  
        <div class="form-group">
          <label for="lastName">Segundo Nome</label>
          <input
            class="form-control"
            id="lastName"
            required
            [(ngModel)]="user.lastName"
            name="lastName"
          />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input
              class="form-control"
              id="email"
              required
              [(ngModel)]="user.email"
              name="email"
            />
        </div>

          <div class="form-group">
            <label for="birthday">Sua data de nascimento</label>
            <input
              class="form-control"
              id="birthday"
              required
              [(ngModel)]="user.birthday"
              name="birthday"
            />
          </div>
          <div class="form-group">
            <label for="login">Nome de Usuário</label>
            <input
              class="form-control"
              id="login"
              required
              [(ngModel)]="user.login"
              name="login"
            />
          </div>

          <div class="form-group">
            <label for="password">Senha</label>
            <input
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="password"
            />
          </div>

          <div class="form-group">
            <label for="phone">Telefone</label>
            <input
              class="form-control"
              id="phone"
              required
              [(ngModel)]="user.phone"
              name="phone"
            />
          </div>
  
        <button (click)="saveUser()" class="btn btn-success">Enviar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Usuário foi cadastrado com sucesso!</h4>
        <button class="btn btn-success" (click)="newUser()">Adicionar</button>
      </div>
    </div>
  </div>