<div *ngIf="viewMode; else editable">
    <div *ngIf="currentUser.id">
      <h4>User</h4>
      <div>
        <label><strong>Primeiro Nome:</strong></label> {{ currentUser.firstName }}
      </div>
      <div>
        <label><strong>Sobrenome:</strong></label>
        {{ currentUser.lastName }}
      </div>  
      <a
        class="badge badge-warning"
        routerLink="/users/{{ currentUser.id }}"
      >
        Editar
      </a>
    </div>
  
    <div *ngIf="!currentUser">
      <br />
      <p>Por favor clique eu um Usuário...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentUser.id" class="edit-form">
      <h4>Usuário</h4>
      <div class="form-group">
        <label for="firstName">Primeiro Nome</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          required
          [(ngModel)]="currentUser.firstName"
          name="firstName"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Segundo Nome</label>
        <input
          class="form-control"
          id="lastName"
          required
          [(ngModel)]="currentUser.lastName"
          name="lastName"
        />
      </div>

      <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            [(ngModel)]="currentUser.email"
            name="email"
          />
      </div>

        <div class="form-group">
          <label for="birthday">Sua data de nascimento</label>
          <input
            class="form-control"
            id="birthday"
            required
            [(ngModel)]="currentUser.birthday"
            name="birthday"
          />
        </div>
        <div class="form-group">
          <label for="login">Nome de Usuário</label>
          <input
            class="form-control"
            id="login"
            required
            [(ngModel)]="currentUser.login"
            name="login"
          />
        </div>

        <div class="form-group">
          <label for="password">Senha</label>
          <input
            class="form-control"
            id="password"
            required
            [(ngModel)]="currentUser.password"
            name="password"
          />
        </div>

        <div class="form-group">
          <label for="phone">Telefone</label>
          <input
            class="form-control"
            id="phone"
            required
            [(ngModel)]="currentUser.phone"
            name="phone"
          />
        </div>
  
      <button class="badge badge-danger mr-2" (click)="deleteUser()">
        Excluir
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateUser()"
      >
        Atualizar
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentUser.id">
      <br />
      <p>Não foi possível acessar esse Usuário...</p>
    </div>
  </ng-template>