# Default ignored files
/shelf/
/workspace.xml

# User-specific stuff
.idea/*


# User-specific stuff
.car-user-system-front-end/.vscode/*
.car-user-system-front-end/.angular/*
.cars-user-system/target/*
